<h2>Blue  Plaques</h2>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
    var js = curl(['script']);
</script>

<div id="map_canvas" class="map"></div>
