	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
      function initialize() {
        var lat = <?php echo($this->centre['lat']); ?>;
        var lng = <?php echo($this->centre['lng']); ?>;
        var latlng = new google.maps.LatLng(lat,lng);

		var myOptions = {
          zoom: 14,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
        
        var marker = new google.maps.Marker({
            position:latlng,
            map:map,
            title:'You are here'
        });

        <?php foreach($this->plaques as $plaque){
			$lat = $plaque['plaque']['latitude'];
			$lng = $plaque['plaque']['longitude'];
			$title = $plaque['plaque']['inscription'];
		?>
			pos = new Object();
			pos.lat = <?php echo($lat); ?>;
			pos.lng = <?php echo($lng); ?>;
			title = <?php echo('"'.$title.'"'); ?>;
			addMarker(pos,map,title);
		
		<?php } ?>
		
      }

      /**
       * @param object pos
       * @param google.maps.Map map
       * @param string title
       */
      function addMarker(pos,map,title){
    	  var latlng = new google.maps.LatLng(pos.lat,pos.lng);
    	  var marker = new google.maps.Marker({
              position:latlng,
              map:map,
              title:title
          });
      }
      window.onload = initialize;
    </script>
    <div id="map_canvas" style="width:600px; height:400px"></div>
