
<?php if($this->lat && $this->lng): ?>
	<a href="map/<?php echo($this->lat . '/' . $this->lng); ?>"><?php echo($this->lat . ', ' . $this->lng); ?></a>
<?php else: ?>
	<p>Enter your Twitter username: </p>
<?php endif ?>

<form name="twitter" action="/twitter" method="post">
	<input type="text" name="username">
	<input type="submit" value="Submit">
</form>