<html>
<head>
	<title>Local Plaques <?php $this->headTitle(); ?></title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/curl.js"></script>
    <script type="text/javascript">
        curl({baseUrl: 'static/'});
    </script>
</head>
<body>
<?php echo($this->layout()->content); ?>
</body>
</html>
