{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>What is this?</h2>
<p>
This site finds your location and shows it on a map along with the locations of any heritage plaques nearby.
</p>
<h2>Why?</h2>
<p>
It was built as part of <a href="https://twitter.com/historyhackday">@historyhackday</a> 2011 by <a href="https://twitter.com/fredkingham">@fredkingham</a> and <a href="https://twitter.com/grahamlyons">@grahamlyons</a> and the data comes from the <a href="http://openplaques.org/">Open Plaques</a> project.
</p>
<h2>How does it work?</h2>
<p>
It was originally built in <a href="http://php.net/">PHP</a> with the <a href="http://framework.zend.com/">Zend framework</a> and got the user's <a href="https://support.twitter.com/articles/122236-adding-your-location-to-a-tweet">location data from Twitter</a>. It has since been rebuilt in <a href="http://python.org/">Python</a> using <a href="http://flask.pocoo.org/">Flask</a> and the now more mature <a href="http://dev.w3.org/geo/api/spec-source.html">geolocation api in the browser</a>.
</p>
<h2>Can I see?</h2>
<p>
The code powering the site is available on <a href="https://github.com/grahamlyons/localplaques">Github</a> if you want to have a look at it.
</p>
{% endblock %}
