{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>What is this?</h2>
<p>
This site finds your location and shows it on a map along with the locations of any commemorative plaques nearby.
</p>
<h2>Why?</h2>
<p>
It was built as part of <a href="https://twitter.com/historyhackday">@historyhackday</a> 2011 by <a href="https://twitter.com/fredkingham">@fredkingham</a> and <a href="https://twitter.com/grahamlyons">@grahamlyons</a> and the data comes from the <a href="http://openplaques.org/">Open Plaques</a> project; it's fun to know which important, historical people have been near where you are right now!
</p>
{% endblock %}
