{% extends "layout.html" %}
{% block head_content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endblock %}
{% block content %}
    <div id="map">Waiting to get your location and plaque data...</div>
    <noscript>Sorry, but this page needs Javascript to work.</noscript>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script type="text/javascript">
    setTimeout(function(){
        var app = new App('map', L, window.navigator);
        app.init();
    }, 0);
    </script> 
{% endblock %}
