<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Find Blue Plaques Near You{% endblock %} - Local Plaques</title>
    <style type="text/css">
        body, h1, h2 { padding: 0; margin: 0; }
        html, body { height: 100%; }
        #map { height: 96%; }
        #header { height: 4%; overflow: hidden; }
        body { font-family: Arial; }
        h1, h2 { font-weight: normal; }
        h1 { font-size: 1.4em;}
        h2 { font-size: 1.2em;}
        h1 a, h2 a { color: #000; text-decoration: none; }
        h1 a:hover, h2 a:hover { color: #666; }
        #header h1 { float: left; }
        #header h2 { float: right; }
    </style>
    {% block head_content %}{% endblock %}
</head>

<body>
    <div id="header">
        <h1><a href="/">Local Plaques</a></h1>
        <h2><a href="/about">about</a></h2>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
